<div>

<h5>
    <a title="link to app page">  App  </a>&nbsp;
    <a title="link to app page">  Forums  </a>&nbsp;
    <a title="link to app page">  Leaderboard  </a>&nbsp;
    <a title="link to app page">  Contribute  </a>&nbsp;
    <a title="link to app page">  API  </a>&nbsp;
    <a title="link to app page">  Support  </a>&nbsp;
</h5>
  <h2>
    <a title="link to Utilities page">  +  </a>&nbsp;
    <a title="link to Utilities page"> EN </a>&nbsp;
    <a title="link to Utilities page"> LOGIN  </a>&nbsp;
    <a title="link to Utilities page"> SIGN UP  </a>&nbsp;
  </h2>

  <p>
  <!-- <img src="assets/msedge_iIE8aFOP2Q.png" />-->
  &nbsp;
  <img src="assets/LogoMOVIEDB.jpg" height="100" width="100"/>&nbsp;
  
      <a title="link to MOVIE page"> DISCOVER </a>&nbsp;
      <a title="link to MOVIE page"> MOVIES </a>&nbsp;
      <a title="link to MOVIE page"> TV SHOWS  </a>&nbsp;
      <a title="link to MOVIE page"> PEOPLE  </a>&nbsp;
     
    <!--  <input  type="text" placeholder="Search Movie"> 
      <button type="submit">Search </button> -->
  </p>

 </div>

